.border-right {
  border-right: 1px solid @gray-lighter;
}

.container-footer {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 20px;

  border-top: 1px solid @gray-lighter;
}

.hashtag {
  color: @green;
}

.divider-top {
  width: 100%;
  height: 36px;

  background-image: url('../img/bg-texture-2.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

/*
 * General typography
 */

h1 {
  margin-bottom: 30px;
  margin-top: 30px;

  font-size: 30px;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
}

li {
  font-size: 16px;
  margin-bottom: 8px;
}
