.navbar-default {
  background-color: transparent;
  border-color: transparent;

  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar-offcanvas .navbar-nav {
  @media @md-up {
    margin-top: 10px;
    margin-left: 45px;
  }
}

.navbar-default .navbar-nav > li > a {
  padding-left: 10px;
  padding-right: 10px;

  font-size: 16px;
  color: @menu-text;
  letter-spacing: 0.5px;

  .home & {
    color: @menu-text-home;
  }
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: @menu-text-active;

  .home & {
    color: @menu-text-home-active;
  }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: @menu-text-active;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
}

.dropdown-menu {
  background-color: @orange;
}

.dropdown-menu > li > a {
  color: @white;
  letter-spacing: 0.5px;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: @white;
  color: black;
}
