@black: #696969;
@white: #FFFFFF;
@green: #39AA7D;
@greenLight: #53BC6F;
@blue: #077DC6;

@menu-text: #696969;
@menu-text-active: #178DAB;

@slick-dot-active: @green;

@text-color:            @gray-dark;
