@black: #696969;
@white: #FFFFFF;
@green: #39AA7D;
@greenLight: #53BC6F;
@blue: #077DC6;
@gray: #525252;
@grayLight: #C4C4C4;
@yellow: #FFD80B;
@orange: #F57312;

@menu-text: #000000;
@menu-text-active: lighten(@menu-text, 30%);

@menu-text-home: #FFFFFF;
@menu-text-home-active: #FFC89E;

@slick-dot-active: @green;

@text-color:            @gray-dark;
@link-color:    @orange;
