
$blue-dark: #318EB2;
$blue-light: #38A1BF;



/* variable overrides */
$brand-primary: $blue-dark;

$font-size-base:          16px;
$line-height-base:        1.5;

$headings-font-family: "lft-etica", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight:  200;

