
$blue-dark: #318EB2;
$blue-light: #38A1BF;

/* variable overrides */

$font-size-base:          16px;
$line-height-base:        1.5;

$headings-font-family: "lft-etica", $font-family-sans-serif;
$headings-font-weight:    200;