body {
	background: #E0E0E0 url("../img/background.jpg") no-repeat;
	background-size: 100%;
}

.no-padding
{
	padding-left: 0;
	padding-right: 0;
}

/* header */
.logos {
	margin-top: 30px;

	.logo img {
		padding-right: 35px;
	}

	.oeclogo {
		margin-top: 15px;
	}
}

/* menu */
.container.menu {
	@include gradient-vertical($blue-dark, $blue-light);

	margin-top: 26px;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;

	margin-bottom: 0;

	#menu-main-menu {

		> a {
	        &:hover { background-color: transparent; }
		}

	    &.active > a {
	        &,
	        &:hover,
	        &:focus {
	          background-color: transparent;
	          cursor: pointer;
	       	}
	    }

		> li > a {
			color: #FFF;
			background-color: transparent;

			text-transform: uppercase;
			letter-spacing: 0.05em;

			&:hover {
				color: #FFF;
				background-color: $blue-dark;
			}
		}
	}

	.dropdown-menu {
		background-color: $blue-light;
		border: none;

		li a {
			color: #FFF;
			padding: 8px 20px;
		}

		li a:hover {
			color: $blue-dark;
			background-color: #FFF;
		}

	}
}

/* home */
.home > .container {
	padding-left: 0;
	padding-right: 0;
}

.home .content {
	padding-top: 0;
}

.hashtag {
	font-weight: 400;
}

.card {
	position: absolute;
	bottom: 15px;
	left: 30px;

	color: #FFF;
	font-family: $headings-font-family;

	&:hover {
		color: #FFF;
	}

	.card-title {
		font-size: 40px;
		display: block;
		width: 100%;
	}

	.card-description {
		font-size: 26px;
	}
}

.attribution {
	position: absolute;
	bottom: 15px;
	right: 30px;

	a {
		color: #FFF;
		font-size: 14px;
	}
}

.home-vertical-spacing {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* pages */

.content {
	background-color: #FFF;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.entry-content {
	margin-top: 30px;
}

.entry-title {
	color: $blue-dark;
}

.h2-home-margin {
	margin-top: 30px;
}

/* footer */

/* labels */
.label {
	font-weight: normal;
}

/*
 * Schedule
 */

.schedule-item {
	list-style: none;

	padding-bottom: 10px;
	margin-bottom: 10px;

	border-bottom: 1px solid #B3B3B3;

}

.schedule-item:last-child {
	border-bottom: none;
}

.panel-title {
	font-weight: bold;
	font-style: italic;

	display: inline-block;
	margin-bottom: 10px;

}

.td-3 td {
	max-width: 33.333333333%;
}

.td-5 td:not(:first-of-type) {
	width: 20%;
}

iframe {
	min-width: 640px;
	height: 510px;
}
